footer.cc-footer 
	.main-footer 
		.container 
			.row 
				.col-lg-4.item.certificate
					h3 CERTIFICATES 
					.img 
						img(src="./img/ft.png", alt="")
				.col-lg-8.item 
					.row
						.col-lg-3.col-md-6
							h3 About Us
							ul.info 
								li
									a(href="#") Overview
								li
									a(href="#") Company Information
								li
									a(href="#") Management Structure
								li
									a(href="#") Business Performance
								li
									a(href="#") Vietnam Offices
						.col-lg-3.col-md-6
							h3 Services
							ul.info 
								li
									a(href="#") Safety
								li
									a(href="#") Construction
								li
									a(href="#") Maintenance
						.col-lg-3.col-md-6
							h3 Projects
							ul.info 
								li
									a(href="#") On Going Projects
								li
									a(href="#") Completed Projects
								li
									a(href="#") Project Location Map
						.col-lg-3.col-md-6
							h3 Obayashi Corp.
							ul.info 
								li
									a(href="#") History
								li
									a(href="#") Global Network
								li
									a(href="#") Services &amp; Technologies
						.col-12
							h3 Subscribe to our newsletter
							.form-subscribe
								input(type="text" placeholder="Enter your email address")
								button 
									span Subscribe
									span.lnr.lnr-arrow-right
	.nav-bottom 
		.container
			.row 
				.col.copyright
					.nav-left
						ul.nav
							li.nav-item
								a.nav-link(href="javascript:void(0)") Terms of Use 
							li.nav-item
								a.nav-link(href="javascript:void(0)") Privacy Policy 
							li.nav-item
								a.nav-link(href="javascript:void(0)") Site map
						p Copyright © 2019 Obayashi Viet Nam Corporation. Designed by Cánh Cam.
					.nav-right
						p 
							a(href="#")
								span.mdi.mdi-cloud-download
								span Brochure
						.select
							select
								option Obayashi VietNam