header
	.container
		.row.no-gutters
			.logo
				a(href="/")
					img(src="./img/logo.png", alt="")
			.toggle-button
				span.mdi.mdi-menu
			.menu-wrapper
				.main-nav
					ul
						li
							a(href="#") About us
						li
							a(href="#") Services
						li.active
							a(href="#") Projects
						li
							a(href="#") news
						li
							a(href="#") career
				.search
					.search-toggle
						em.mdi.mdi-magnify
					.searchbox
						input(type="text")
						button
							em.mdi.mdi-magnify
				.language
					ul
						li
							a(href="javascript:void(0)")
								img(src="./img/vn.png", alt="")
						li
							a(href="javascript:void(0)")
								img(src="./img/jp.png", alt="")