.project-1-page
	.nav-2
		nav
			a
				font-size: 18px
.project-1
	.project-list
		.swiper-container
			@media (min-width: 1025px)
				padding: 15px
				margin: -15px
			.swiper-slide
				position: relative
				z-index: 2
				@media (min-width: 1025px)
					opacity: 0
				.imgbox
					img
						opacity: 0
				.info
					position: absolute
					left: 0
					right: 0
					bottom: 0
					padding: 25px
					background: rgb(0,0,0)
					background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 60%)
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1)
					@media (max-width: 1024.98px)
						font-size: 15px
					h3
						font-size: 24px
						color: white
						font-weight: 400
						@media (max-width: 1024.98px)
							font-size: 19.5px
						@media (max-width: 767.98px)
							font-size: 15px
				@media (min-width: 1025px)
					transition: all .8s linear
					transform: scale(0.7)
					box-shadow: 0 5px 15px rgba(black,.3)
					&.swiper-slide-next
						z-index: 6
						transform: scale(.85)
						opacity: 1
					&.swiper-slide-prev
						z-index: 6
						transform: scale(.85)
						opacity: 1
					&.swiper-slide-active
						z-index: 8
						transform: scale(1)
						opacity: 1
					&.swiper-slide-nth-next-2
						z-index: 4
						transform: scale(.7)
						opacity: 1
					&.swiper-slide-nth-prev-2
						z-index: 4
						transform: scale(.7)
						opacity: 1
		.swiper-pagination
			margin-top: 30px
			display: flex
			justify-content: center
			left: 0
			right: 0
			position: static
			span
				width: 13px
				height: 13px
				border: 2px solid #333333
				opacity: 1
				border-radius: 0
				margin: 0  5px
				background: none
				position: static
				&.swiper-pagination-bullet-active
					background: #333333