.project-1
	.container
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")