.project-1
	.container.project-list
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
					.info
						h3
							a(href="#") Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP II-A Project (Phase 2)
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
					.info
						h3
							a(href="#") Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP II-A Project (Phase 2)
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
					.info
						h3
							a(href="#") Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP II-A Project (Phase 2)
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
					.info
						h3
							a(href="#") Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP II-A Project (Phase 2)
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
					.info
						h3
							a(href="#") Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP II-A Project (Phase 2)
				.swiper-slide
					.imgbox
						a(href="#")
							img(src="./img/project/1.jpg", alt="")
					.info
						h3
							a(href="#") Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP II-A Project (Phase 2)