.project-2
	.container
		.row
			.col-12#dealer-map
				img(src="/Data/Sites/1/media/img/map.jpg", alt="" style="width: 100%")
	.container
		h2.big-title Projects in the South Area
		.row
			.col-lg-3.col-6
				h4.small-title binh duong area
				nav
					a(href="#") VSIP I
					a(href="#") VSIP II
					a(href="#") VSIP II-A
					a(href="#") My Phuoc IZ
					a(href="#") My Phuoc 2 IZ
			.col-lg-3.col-6
				h4.small-title Dong Nai Area
				nav
					a(href="#") Amata
					a(href="#") Bien Hoa 1
					a(href="#") Bien Hoa 2
					a(href="#") Long Duc
					a(href="#") Long Thanh
					a(href="#") Loteco
			.col-lg-3.col-6
				h4.small-title Ho Chi Minh Area
				nav
					a(href="#") HCM
			.col-lg-3.col-6
				h4.small-title Others
				nav
					a(href="#") Can Tho Area
	.container
		h2.big-title Projects in the North Area
		.row
			.col-lg-3.col-6
				h4.small-title Ha noi Area
				nav
					a(href="#") Dong Anh
					a(href="#") Long Bien
					a(href="#") Soc Son
					a(href="#") Thach That
					a(href="#") Thang Long IP
					a(href="#") Thanh tri
					a(href="#") Other
			.col-lg-3.col-6
				h4.small-title Bac Ninh Area
				nav
					a(href="#") Que Vo
					a(href="#") Tien Du
				br
				br
				h4.small-title Hung Yen Area
				nav
					a(href="#") Yen My
			.col-lg-3.col-6
				h4.small-title Hai Phong Area
				nav
					a(href="#") An Duong
					a(href="#") Hai An
			.col-lg-3.col-6
				h4.small-title Others
				nav
					a(href="#") Quang Ninh
					a(href="#") Thai Binh
					a(href="#") Thua Thien Hue
					a(href="#") Vinh Phuc