.container
	.project-detail
		.top-project
			h3.small-title Educational & Residential Facility
			a.back-button(href="#")
				span.mdi.mdi-arrow-left
				span Back
		h2.big-title Unis Hanoi – Phase 3A Campus Development Project
		.row
			.col-12
				.big-project.swiper-container
					.swiper-wrapper
						.swiper-slide
							img.swiper-lazy(src="./img/project/2.jpg", alt="")
							.swiper-lazy-preloader
						.swiper-slide
							img.swiper-lazy(src="./img/project/2.jpg", alt="")
							.swiper-lazy-preloader
						.swiper-slide
							img.swiper-lazy(src="./img/project/2.jpg", alt="")
							.swiper-lazy-preloader
			.col-md-10.col-lg-8
				.swiper-container.small-project
					.swiper-wrapper
						.swiper-slide
							img(src="./img/project/2.jpg", alt="")
						.swiper-slide
							img(src="./img/project/2.jpg", alt="")
						.swiper-slide
							img(src="./img/project/2.jpg", alt="")
			.col-12.project-info
				.table-responsive-1
					table
						tbody
							tr
								td Investor
								td United Nations International School Of Hanoi
							tr
								td Location
								td G9 Ciputra, Hanoi International City, Phu Thuong Ward, Ho Tay District, Hanoi
							tr
								td Commencement
								td November 1, 2016
							tr
								td Completion
								td July 17, 2018
							tr
								td Contractor
								td Obayashi Vietnam Corporation
							tr
								td Structure
								td RC, S
							tr
								td Site area
								td 12,083.95 m²
							tr
								td Total Floor Area
								td 6,432.89 m²
		.row.other-project
			.col-12
				h3.small-title OTHER PROJECTS IN 
					span Educational & Residential Facility
			.col-lg-4.col-md-6
				.project-item
					article
						.imgbox
							a(href="#" data-bg="./img/home/5.jpg")
								img.lazyload(data-src="./img/home/5.jpg", alt="")
						.info
							span Completed Projects
							h3
								a(href="#") Dan On Foods Corporation – My Phuoc 3 Branch New Factory Project
			.col-lg-4.col-md-6
				.project-item
					article
						.imgbox
							a(href="#" data-bg="./img/home/6.jpg")
								img.lazyload(data-src="./img/home/6.jpg", alt="")
						.info
							span Completed Projects
							h3
								a(href="#") Aeon Mall - BinhTan Project
			.col-lg-4.col-md-6
				.project-item
					article
						.imgbox
							a(href="#" data-bg="./img/home/7.jpg")
								img.lazyload(data-src="./img/home/7.jpg", alt="")
						.info
							span Completed Projects
							h3
								a(href="#") Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP II-A Project (Phase 2)