section.service-page-list
	.container
		.row
			.col-lg-4.col-md-6
				.service-item
					a(href="#")
						article
							.imgbox
								img.lazyload(data-src="./img/home/1.jpg", alt="")
							.info
								h3 Construction
								p Putting drawings into construction is a consecutive process, it means that applying exactly each detail on drawing
			.col-lg-4.col-md-6
				.service-item
					a(href="#")
						article
							.imgbox
								img.lazyload(data-src="./img/home/2.jpg", alt="")
							.info
								h3 Safety
								p For the purpose of creating the safe working environment, the Board of Directors specially pays full attention.
			.col-lg-4.col-md-6
				.service-item
					a(href="#")
						article
							.imgbox
								img.lazyload(data-src="./img/home/3.jpg", alt="")
							.info
								h3 Maintenance
								p Obayashi Vietnam Corporation particularly pays attention to maintenance service for clientst 