.overview-1.pb-60
	.container
		.row
			.col-md-6
				h2.big-title Obayashi Corporation
			.col-md-6.textbox
				p Obayashi Corporation has set the first footsteps into Vietnam since 1992 with representative offices in Hanoi and Ho Chi Minh. Year by year, Obayashi Corporation has been known as one of the best foreign contractors in Vietnam with remarkable projects both in state and private sectors such as Embassy of Japan, Thanh Tri Bridge, Tan Son Nhat International Airport Terminal, Thu Thiem Tunnel, Saigon East-West Highway, Nomura IZ, Canon Factories, Sanyo Factories, Yazaki Factories, Kondo Factory, NOK Factories, etc. 
				p Obayashi Corporation has the dignity and grace worthy of a leading company and makes an utmost effort to further its reputation as a producer of high quality developments. We therefore ask for your continued understanding and support.
.overview-2.pb-60
	.container
		.row.image-wrapper
			.col-md-6
				.imgbox
					img(src="./img/information/2.jpg", alt="")
			.col-md-6
				.imgbox
					img(src="./img/information/2.jpg", alt="")
		.row.pt-60
			.col-md-6
				h2.big-title Obayashi Vietnam Corporation (Subsidiary Of Obayashi Corporation)
			.col-md-6.textbox
				p With the desire to expand construction activities and contribute the advanced technology to construction field of Vietnam, Obayashi Vietnam Corporation with 100% foreign-invested capital was established and officially came into operation on June 23, 2006 under the Investment License No. 1132/GP - HCM  issued by Ho Chi Minh City People's Committee. Company is now operating under the Enterprise Registration Certificate no. 0304436870 issued on August 29, 2007 and sixth amended on April 15, 2016 by Business Registration Office, Ho Chi Minh City Department of Planning and Investment (replacing the Investment Certificate (having the equivalent effect with Business Registration Certificate) no. 411043000283 fifth amended on March 13, 2014 by Ho Chi Minh City People's Committee).
				p From the establishment date, the Management Board and staff pledge that we always do the best for all customers’ comprehensive satisfaction on both the construction quality and harmonious beauty with the surrounding area. 
				p The scope of business: To provide service of consultancy on construction engineering, design & construction, execution of industrial & civil projects, execution of supervision and project management in the process of construction execution
