.certificate
	.container
		.row
			.col-sm-6.col-md-4
				article.certificate-item
					.imgbox
						a(href="./img/certificate/1.jpg" data-fancybox)
							img(src="./img/certificate/1.jpg")
					.info
						h3 information security managerment system - ISO/IEC 27001:2013
			.col-sm-6.col-md-4
				article.certificate-item
					.imgbox
						a(href="./img/certificate/1.jpg" data-fancybox)
							img(src="./img/certificate/1.jpg")
					.info
						h3 information security managerment system - ISO/IEC 27001:2013
			.col-sm-6.col-md-4
				article.certificate-item
					.imgbox
						a(href="./img/certificate/1.jpg" data-fancybox)
							img(src="./img/certificate/1.jpg")
					.info
						h3 information security managerment system - ISO/IEC 27001:2013 information security managerment system - ISO/IEC 27001:2013
			.col-sm-6.col-md-4
				article.certificate-item
					.imgbox
						a(href="./img/certificate/1.jpg" data-fancybox)
							img(src="./img/certificate/1.jpg")
					.info
						h3 information security managerment system - ISO/IEC 27001:2013
			.col-sm-6.col-md-4
				article.certificate-item
					.imgbox
						a(href="./img/certificate/1.jpg" data-fancybox)
							img(src="./img/certificate/1.jpg")
					.info
						h3 information security managerment system - ISO/IEC 27001:2013
			.col-sm-6.col-md-4
				article.certificate-item
					.imgbox
						a(href="./img/certificate/1.jpg" data-fancybox)
							img(src="./img/certificate/1.jpg")
					.info
						h3 information security managerment system - ISO/IEC 27001:2013