<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<newstype name="Tin tức" value="0"></newstype>

	<showoption name="Internal news" value="1"></showoption>
	<showoption name="CSR" value="2"></showoption>
	<showoption name="Safety" value="4"></showoption>
	<showoption name="Design" value="8"></showoption>

	<templatelist xsltname="About-Certificate.xslt" name="Danh sách chứng nhận"></templatelist>
	<templatelist xsltname="About-CompanyInfo.xslt" name="Danh sách Company Info"></templatelist>
	<templatelist xsltname="About-Overview.xslt" name="Danh sách Overview"></templatelist>
	<templatelist xsltname="Project-List.xslt" name="Danh sách Projects"></templatelist>
	<templatelist xsltname="News-List.xslt" name="Danh sách News"></templatelist>
	<templatelist xsltname="Career-List.xslt" name="Danh sách Career"></templatelist>
	<templatelist xsltname="History.xslt" name="Danh sách History"></templatelist>
	<templatelist xsltname="About-Management-List.xslt" name="Danh sách Management"></templatelist>

	<templatedetail xsltname="News-Detail.xslt" name="Chi tiết News"></templatedetail>
	<templatedetail xsltname="Project-Detail.xslt" name="Chi tiết Projects"></templatedetail>
	<templatedetail xsltname="Career-Detail.xslt" name="Chi tiết Career"></templatedetail>
	
	<position>
		<add name="Home - Location" value="1" resourcefile="" />
		<add name="About - Location" value="2" resourcefile="" />
		<add name="Safety - News" value="4" resourcefile="" />
		<add name="Home - Project" value="8" resourcefile="" />
		<add name="Home - Latest News - Left" value="16" resourcefile="" />
		<add name="Home - Latest News - Right" value="32" resourcefile="" />
	</position>
</templates>