.company-information.pb-60
	.container
		.row
			.col-md-6
				.item
					.title
						h3 Company Name
					.content
						p OBAYASHI VIETNAM CORPORATION
				.item
					.title
						h3 Establishment
					.content
						p June 23, 2006	 
				.item
					.title
						h3 President
					.content
						p Mr. SHINOBU YAMANAKA
				.item
					.title
						h3 Members' Council
					.content
						p 1. Mr. SHINOBU YAMANAK   -  <span>President</span>
						p 2. Mr. ITSUO NAKANISHI  - <span> Member</span>
						p 3. Mr. NARUYOSHI SUZUKI  -  <span>Member</span>
						p 4. Mr. TRAN HUU NINH  -  <span>Member</span>
						p 5. Mr. MITSURU KAWASAKI  -  <span>Member</span>
			.col-md-6
				.item
					.title
						h3 Members' Council
					.content
						p 1. Mr. SHINOBU YAMANAKA   -  <span>General Director</span>
						p 2. Mr. ITSUO NAKANISHI  -  <span>Deputy General Director</span>
						p 3. Mr. NARUYOSHI SUZUKI  -  <span>Director</span>
						p 4. Mr. TRAN HUU NINH  -  <span>Director</span>
				.item
					.title
						h3 Management Board
					.content
						p Service of consultancy on construction engineering.
						p Design & Construction.
						p Execution of industrial & civil projects.
						p Execution of supervision and project management in the process of construction execution.
.our-location
	.container.pb-60
		.row
			.col-md-6
				.imgbox
					img(src="./img/information/2.jpg", alt="")
			.col-md-6
				.imgbox
					img(src="./img/information/2.jpg", alt="")
	.container
		.row.item
			.col-md-6.title
				h3 HO CHI MINH HEAD OFFICE
				h4 Saigon Trade Center Building
			.col-md-6.info
				p
					span.mdi.mdi-map-marker 
					span 24th Floor, Unit 2401, 37 Ton Duc Thang Street, District 1, Ho Chi Minh City, Vietnam
				p
					span.mdi.mdi-phone
					span (84.28) 39105523
				p
					span.mdi.mdi-printer
					span (84.28) 39105529
				p 
					span.mdi.mdi-email
					a(href="#") obayashi.hcm@obayashivn.com
		.row.item
			.col-md-6.title
				h3 HO CHI MINH HEAD OFFICE
				h4 Saigon Trade Center Building
			.col-md-6.info
				p
					span.mdi.mdi-map-marker 
					span 24th Floor, Unit 2401, 37 Ton Duc Thang Street, District 1, Ho Chi Minh City, Vietnam
				p
					span.mdi.mdi-phone
					span (84.28) 39105523
				p
					span.mdi.mdi-printer
					span (84.28) 39105529
				p 
					span.mdi.mdi-email
					a(href="#") obayashi.hcm@obayashivn.com
		.row.item
			.col-md-6.title
				h3 HO CHI MINH HEAD OFFICE
				h4 Saigon Trade Center Building
			.col-md-6.info
				p
					span.mdi.mdi-map-marker 
					span 24th Floor, Unit 2401, 37 Ton Duc Thang Street, District 1, Ho Chi Minh City, Vietnam
				p
					span.mdi.mdi-phone
					span (84.28) 39105523
				p
					span.mdi.mdi-printer
					span (84.28) 39105529
				p 
					span.mdi.mdi-email
					a(href="#") obayashi.hcm@obayashivn.com