.safety-1.pb-60
	.container
		.row
			.col-md-6
				h2.big-title Overview
			.col-md-6.textbox
				p For the purpose of creating the safe working environment, the Board of Directors specially pays full attention to ensure occupational health and safety during working time; We have developed safety regulations, safety standards which fully comply with Vietnam law. To implement this policy, safety measurements such as safety training, inspecting, monitoring are strictly done as scheduled. Having established and implemented the safety system since 2012, OVC obtained the Certificate of Registration Occupational Health and Safety Management System (OHSAS 18001:2007) in August 2013 and keep maintaining the implementation of this system in all company activities.
.safety-2.pb-60
	.container.pb-60
		.row
			.col-md-6
				.imgbox
					img(src="./img/information/2.jpg", alt="")
			.col-md-6
				.imgbox
					img(src="./img/information/2.jpg", alt="")
	.container
		h3.big-title Routine Activities
		.row
			.col-md-6
				.item
					.title
						h3 Safety Training
					.content
						p To enhance the safety awareness, knowledge for all staffs, Obayashi Vietnam Corporation regularly conducts many training courses such as:
						ul
							li Occupational safety and health training following Circular No. 27/2013/TT-BLDTBXH 
							li Safety Policy,OHSAS 18001:2007 and company safety manual (General Safety Standard of OVC).
							li Safety orientation training for workers of Sub-contractors.
							li How to implement OHSAS 18001:2007 system at offices and sites.
			.col-md-6
				.item
					.title
						h3 Safety Training
					.content
						p Morning talk and safety patrol are daily implemented at sites to ensure everybody completely obey the safety procedures.
				.item
					.title
						h3 Weekly Safety Activities
					.content
						p Safety meeting and site cleaning are conducted every week in order to improve safety performance and working environment at sites.
				.item
					.title
						h3 Monthly Safety Activities
					.content
						p Safety meeting and tool checking are monthly implemented to enhance safety performance at sites . Besides, site safety patrol is carried by head office safety committee fortnightly for the purpose of keeping the unique level of safety condition for all sites.
						
.safety-3(data-bg="./img/safety/1.jpg")
.safety-4.pt-60
	.container
		.row
			.col-md-6
				h3.big-title OHSAS 18001:2007
			.col-md-6.textbox
				p Obayashi Vietnam Corporation attained the certificate of registration on occupational health and safety management system on August 05, 2013 for Ho Chi Minh Head Office & Southern Projects; on July 22, 2014 for Hanoi Branch Office & Northern Projects. It proves that OVC has operated an occupational health and safety management system which complies with the requirements of BS OHSAS 18001:2007 for the scope of Design, project management, construction supervision and management of civil and industrial projects. 
		.row.image-list.pt-60
			.col-sm-6.col-md-4
				article.certificate-item
					.imgbox
						a(href="./img/certificate/1.jpg" data-fancybox)
							img(src="./img/certificate/1.jpg")
					.info
						h3 information security managerment system - ISO/IEC 27001:2013
			.col-sm-6.col-md-4
				article.certificate-item
					.imgbox
						a(href="./img/certificate/1.jpg" data-fancybox)
							img(src="./img/certificate/1.jpg")
					.info
						h3 information security managerment system - ISO/IEC 27001:2013
			.col-sm-6.col-md-4
				article.certificate-item
					.imgbox
						a(href="./img/certificate/1.jpg" data-fancybox)
							img(src="./img/certificate/1.jpg")
					.info
						h3 information security managerment system - ISO/IEC 27001:2013
		.row
			.col-12.pd-60
				.video
					.plyr__video-embed#video
						iframe(src="https://www.youtube.com/watch?v=teMdjJ3w9iM?rel=0", frameborder="0")
				

.safety-5.pb-60
	.container
		h2.big-title News
		.row
			.col-md-6
				.item
					time Jan, 04 2019
					h3 
						a(href="") Fire Drill At Otsuka Pharmaceutical VN JSC at Long Binh Industrial (Amata) Project
			.col-md-6
				.item
					time Jan, 04 2019
					h3 
						a(href="") Fire Drill At Otsuka Pharmaceutical VN JSC at Long Binh Industrial (Amata) Project
			.col-md-6
				.item
					time Jan, 04 2019
					h3 
						a(href="") Fire Drill At Otsuka Pharmaceutical VN JSC at Long Binh Industrial (Amata) Project
			.col-md-6
				.item
					time Jan, 04 2019
					h3 
						a(href="") Fire Drill At Otsuka Pharmaceutical VN JSC at Long Binh Industrial (Amata) Project
			.col-md-6
				.item
					time Jan, 04 2019
					h3 
						a(href="") Fire Drill At Otsuka Pharmaceutical VN JSC at Long Binh Industrial (Amata) Project
			.col-md-6
				.item
					time Jan, 04 2019
					h3 
						a(href="") Fire Drill At Otsuka Pharmaceutical VN JSC at Long Binh Industrial (Amata) Project