extends _layout.pug

block var
	- var title = 'Management 01'
	- var bodyClass = 'management-01-page'

block main
	include ../components/nav/n-1
	include ../components/nav/n-2
	include ../components/about/management/m-1