extends _layout.pug

block var
	- var title = 'Project 1'
	- var bodyClass = 'project-1-page'

block main
	include ../components/nav/n-1
	include ../components/nav/n-2
	include ../components/project/p-1