.home-1
	h2
		font-size: 50px
		font-weight: 300
		color: #333333 
		text-align: center
		margin-bottom: 18px
		@media (max-width: 1024.98px)
			font-size: 37px
		@media (max-width: 767.98px)
			font-size: 24px
	.row
		justify-content: center
		margin-bottom: -15px
