section.home-2.pd-60
	.container
		.row
			.col-lg-6
				.zone-info
					h2.small-title(data-aos='fade-up') projects
					p.big-title(data-aos='fade-up' data-aos-delay='200') Our motto is “To provide comprehensive satisfaction forthe customers by ensuring quality, schedule, and safety in products and services”.
					a.main-button(href="#" data-aos='fade-up' data-aos-delay='300')
						span Our Projects
						span.mdi.mdi-arrow-right
			.col-lg-6
				.project-item.big
					article
						.imgbox
							a(href="#" data-bg="./img/home/4.jpg")
								img.lazyload(data-src="./img/home/4.jpg", alt="")
						.info
							span Completed Projects
							h3
								a(href="#") Unis Hanoi – Phase 3A Campus Development Project
		.row.bottom-list
			.col-lg-4.col-md-6
				.project-item(data-aos='fade-up' data-aos-delay='400')
					article
						.imgbox
							a(href="#" data-bg="./img/home/5.jpg")
								img.lazyload(data-src="./img/home/5.jpg", alt="")
						.info
							span Completed Projects
							h3
								a(href="#") Dan On Foods Corporation – My Phuoc 3 Branch New Factory Project
			.col-lg-4.col-md-6
				.project-item(data-aos='fade-up' data-aos-delay='500')
					article
						.imgbox
							a(href="#" data-bg="./img/home/6.jpg")
								img.lazyload(data-src="./img/home/6.jpg", alt="")
						.info
							span Completed Projects
							h3
								a(href="#") Aeon Mall - BinhTan Project
			.col-lg-4.col-md-6
				.project-item(data-aos='fade-up' data-aos-delay='600')
					article
						.imgbox
							a(href="#" data-bg="./img/home/7.jpg")
								img.lazyload(data-src="./img/home/7.jpg", alt="")
						.info
							span Completed Projects
							h3
								a(href="#") Panasonic Eco Solutions Vietnam Co., Ltd. In VSIP II-A Project (Phase 2)