section.home-3.pd-60(data-bg="./img/home/bg_1.jpg")
	.container
		h2.small-title.white(data-aos='fade-up') News
		p.block-title(data-aos='fade-up') Latest News
		.row
			.col-lg-6
				.news-list
					.item
						time Jan, 17 2019
						span.type-1 Internal News
						.title
							h3
								a(href="#") The Ground Breaking Of VREC 2nd Phase Contruction Project
					.item
						time Sep, 30 2018
						span.type-1 Internal News
						.title
							h3
								a(href="#") Completion of Seiko Precision Parts Vietnam Factory Project
					.item
						time Jul, 12 2018
						span.type-2 CSR
						.title
							h3
								a(href="#") Run For The Heart 2018
					.item
						time Apr, 12 2017
						span.type-3 Safety
						.title
							h3
								a(href="#") Fire Drill At Otsuka Pharmaceutical VN JSC at Long Binh Industrial (Amata) Project
					.item
						time Mar, 12 2017
						span.type-4 Design
						.title
							h3
								a(href="#") Mai Chi Tho - Friendly Frankness & Full Energy
					.item
						time Jul, 12 2018
						span.type-2 CSR
						.title
							h3
								a(href="#") Run For The Heart 2018
					.item
						time Apr, 12 2017
						span.type-3 Safety
						.title
							h3
								a(href="#") Fire Drill At Otsuka Pharmaceutical VN JSC at Long Binh Industrial (Amata) Project
					.item
						time Mar, 12 2017
						span.type-4 Design
						.title
							h3
								a(href="#") Mai Chi Tho - Friendly Frankness & Full Energy
			.col-lg-6
				.news-list
					.item
						time Jan, 04 2019
						.title
							h3
								a(href="#") Voices From Project Staffs
					.item
						time Nov, 01 2018
						.title
							h3
								a(href="#") Company Activities
					.item
						time Nov, 01 2018
						.title
							h3
								a(href="#") Sharing From Staff Training In Japan
					.item
						time Nov, 01 2018
						.title
							h3
								a(href="#") Idea For Cover Page Of Monthly Newsletter