section.home-4.pd-60
	.container
		.row
			.col-lg-6
				.imgbox
					img.lazyload(data-src="./img/home/8.jpg")
			.col-lg-6
				.textbox
					h2.small-title Career
					.heading
						p.big-title At Obayashi, we know that each Individual Strengths will be maximizied our impact as a team.
						a.main-button(href="#")
							span View Career
							span.mdi.mdi-arrow-right