section.home-5.pt-60(data-bg="./img/home/bg_2.jpg")
	.container
		.row
			.col-xl-9.col-lg-10.col-11
				p
					span.mdi.mdi-format-quote-close
				p.big-title We know the Passion & Enthusiasm in our talent people. Therefore, we try to tell about <strong>WORK LIFE BALANCE</strong> to keep it long