section.home-6.pd-60
	.container
		h2.small-title Our Location
		.row.no-gutters
			.col-sm-6.col-md-3
				article.item
					.imgbox
						a(data-src="#map_1" data-bg="./img/home/9.jpg" data-fancybox="h6_1" data-modal="true")
							img(src="./img/home/9.jpg", alt="")
					.info
						h4 Ha noi branch office
						p PVI Tower, 17th Floor, Unit 1701, Lot VP2, Tran Thai Tong Street, Cau Giay District, Hanoi, Vietnam
						a.viewmap(href="#")
							span View map
							span.lnr.lnr-arrow-right
					.d-none
						#map_1
							<iframe src="https://www.google.com/maps/embed?pb=" frameborder="0" style="border:0" allowfullscreen></iframe>
			.col-sm-6.col-md-3
				article.item
					.imgbox
						a(data-src="#map_2" data-bg="./img/home/10.jpg" data-fancybox="h6_2")
							img(src="./img/home/10.jpg", alt="")
					.info
						h4 hai phong office
						p Phong Hong Hotel, Km 12, National Highway No. 5
						a.viewmap(href="#")
							span View map
							span.lnr.lnr-arrow-right
			.col-sm-6.col-md-3
				article.item
					.imgbox
						a(data-src="#map_3" data-bg="./img/home/11.jpg" data-fancybox="h6_3")
							img(src="./img/home/11.jpg", alt="")
					.info
						h4 Da nang office
						p 6th Floor, Unit 606A, One Opera Hotel, Thanh Khe, Da Nang
						a.viewmap(href="#")
							span View map
							span.lnr.lnr-arrow-right
			.col-sm-6.col-md-3
				article.item
					.imgbox
						a(data-src="#map_4" data-bg="./img/home/12.jpg" data-fancybox="h6_4")
							img(src="./img/home/12.jpg", alt="")
					.info
						h4 Hochiminh head office
						p Saigon Trade Center Building, Unit 2401, 37 Ton Duc Thang Street, District 1, Ho Chi Minh City, Vietnam
						a.viewmap(href="#")
							span View map
							span.lnr.lnr-arrow-right