.career-1.pb-60
	.container
		h2.big-title Job Opening
		.row
			.col-md-6.item-col
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
			.col-md-6.item-col
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment
			.col-md-6.item-col
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
			.col-md-6.item-col
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment
			.col-12.button-wrapper
				a.main-button(href="#") 
					span View All job
					span.mdi.mdi-arrow-right
.career-2.pb-60
	.container
		h2.big-title People and Workstyle
		.row.career-news-list
			.col-sm-6.col-md-3
				article.career-news-item
					.imgbox
						a(href="#" data-bg="./img/career/1.jpg")
							img.d-none(src="./img/career/1.jpg", alt="")
					.info
						h3
							a(href="#") Our open journalism takes bigger stories to a bigger audience
						a(href="#").sub-title 
							span OVC Future
							span.mdi.mdi-arrow-right 
			.col-sm-6.col-md-3
				article.career-news-item
					.imgbox
						a(href="#" data-bg="./img/career/1.jpg")
							img.d-none(src="./img/career/1.jpg", alt="")
					.info
						h3
							a(href="#") Our open journalism takes bigger stories to a bigger audience
						a(href="#").sub-title 
							span OVC Future
							span.mdi.mdi-arrow-right 
			.col-sm-6.col-md-3
				article.career-news-item
					.imgbox
						a(href="#" data-bg="./img/career/1.jpg")
							img.d-none(src="./img/career/1.jpg", alt="")
					.info
						h3
							a(href="#") Our open journalism takes bigger stories to a bigger audience
						a(href="#").sub-title 
							span OVC Future
							span.mdi.mdi-arrow-right 
			.col-sm-6.col-md-3
				article.career-news-item
					.imgbox
						a(href="#" data-bg="./img/career/1.jpg")
							img.d-none(src="./img/career/1.jpg", alt="")
					.info
						h3
							a(href="#") Our open journalism takes bigger stories to a bigger audience
						a(href="#").sub-title 
							span OVC Future
							span.mdi.mdi-arrow-right 
.career-2.pb-60
	.container
		h2.big-title People and Workstyle
		.row.career-news-list
			.col-sm-6.col-md-3
				article.career-news-item
					.imgbox
						a(href="#" data-bg="./img/career/1.jpg")
							img.d-none(src="./img/career/1.jpg", alt="")
					.info
						h3
							a(href="#") Our open journalism takes bigger stories to a bigger audience
						a(href="#").sub-title 
							span OVC Future
							span.mdi.mdi-arrow-right 
			.col-sm-6.col-md-3
				article.career-news-item
					.imgbox
						a(href="#" data-bg="./img/career/1.jpg")
							img.d-none(src="./img/career/1.jpg", alt="")
					.info
						h3
							a(href="#") Our open journalism takes bigger stories to a bigger audience
						a(href="#").sub-title 
							span OVC Future
							span.mdi.mdi-arrow-right 
			.col-sm-6.col-md-3
				article.career-news-item
					.imgbox
						a(href="#" data-bg="./img/career/1.jpg")
							img.d-none(src="./img/career/1.jpg", alt="")
					.info
						h3
							a(href="#") Our open journalism takes bigger stories to a bigger audience
						a(href="#").sub-title 
							span OVC Future
							span.mdi.mdi-arrow-right 
			.col-sm-6.col-md-3
				article.career-news-item
					.imgbox
						a(href="#" data-bg="./img/career/1.jpg")
							img.d-none(src="./img/career/1.jpg", alt="")
					.info
						h3
							a(href="#") Our open journalism takes bigger stories to a bigger audience
						a(href="#").sub-title 
							span OVC Future
							span.mdi.mdi-arrow-right 