.career-3.pb-60
	.container
		h2.big-title Job Openings
		.row
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
			.col-md-6
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment