.container
	.row.career-detail
		.col-lg-8
			.content
				h2.small-title Career
				h1.big-title Account
				a.main-button(href="#")
					span Apply for job
					span.mdi.mdi-arrow-right
				.form-apply
		.col-lg-1
		.col-lg-3
			.other-news
				h2.big-title Latest news
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment
				.item
					h3
						a(href="#") Accountant
					span Full time - Ho Chi Minh Head Office
				.item
					h3
						a(href="#") Accountant
					span Full time - Followed company’s assignment
