.manager-list
	.container.pb-60
		h2.manager-title Ho Chi Minh Office
		.row
			.col-sm-6.col-md-4.col-lg-3
				article.manager-item
					.imgbox
						a(href="./img/manager/1.jpg" data-fancybox data-src="#manage_1" data-bg="./img/manager/1.jpg")
							img(src="./img/manager/1.jpg", alt="")
					.info
						p Deputy General Manager
						h3 Mr. Yuta Kamibeppu
					.d-none
						.member-popup#manage_1
							.imgbox
								img(src="./img/manager/1.jpg", alt="")
							.info
								p Deputy General Manager
								h3 Mr. Yuta Kamibeppu
							.brief-content
								p Spending 13 working years for OVC, I have joined many kinds of projects which are mainly  factories and companies … From September 2012 to December 2013, I have done the biggest project which is a very proud project. That is AEON Shopping Center Tan Phu Celadon project which is located at residential area of Tan Phu District. With a multifold workload in comparison with other projects and a short construction schedule, we met many difficulties and pressure. Besides that, some objective elements such as unfavorable weather condition and execution in residential area obstruct the basement excavation works. Although we had to face with arising difficulties, thanks to the whole-hearted support and direction from leadership team such as Mr. Yamanaka, Mr. Kurosawa, Mr. Sato … and the cooperation of all sections and engineers, the construction is completed on schedule. Moreover, Vietnamese staffs and I have got more experiences about new technical standards and new working style through this project. We are always determined to keep going ahead for best results. I greatly appreciate all your kind assistance.
			.col-sm-6.col-md-4.col-lg-3
				article.manager-item
					.imgbox
						a(href="./img/manager/1.jpg" data-fancybox data-src="#manage_1" data-bg="./img/manager/1.jpg")
							img(src="./img/manager/1.jpg", alt="")
					.info
						p Deputy General Manager
						h3 Mr. Yuta Kamibeppu
					.d-none
						.member-popup#manage_1
							.imgbox
								img(src="./img/manager/1.jpg", alt="")
							.info
								p Deputy General Manager
								h3 Mr. Yuta Kamibeppu
							.brief-content
								p Spending 13 working years for OVC, I have joined many kinds of projects which are mainly  factories and companies … From September 2012 to December 2013, I have done the biggest project which is a very proud project. That is AEON Shopping Center Tan Phu Celadon project which is located at residential area of Tan Phu District. With a multifold workload in comparison with other projects and a short construction schedule, we met many difficulties and pressure. Besides that, some objective elements such as unfavorable weather condition and execution in residential area obstruct the basement excavation works. Although we had to face with arising difficulties, thanks to the whole-hearted support and direction from leadership team such as Mr. Yamanaka, Mr. Kurosawa, Mr. Sato … and the cooperation of all sections and engineers, the construction is completed on schedule. Moreover, Vietnamese staffs and I have got more experiences about new technical standards and new working style through this project. We are always determined to keep going ahead for best results. I greatly appreciate all your kind assistance.
			.col-sm-6.col-md-4.col-lg-3
				article.manager-item
					.imgbox
						a(href="./img/manager/1.jpg" data-fancybox data-src="#manage_1" data-bg="./img/manager/1.jpg")
							img(src="./img/manager/1.jpg", alt="")
					.info
						p Deputy General Manager
						h3 Mr. Yuta Kamibeppu
					.d-none
						.member-popup#manage_1
							.imgbox
								img(src="./img/manager/1.jpg", alt="")
							.info
								p Deputy General Manager
								h3 Mr. Yuta Kamibeppu
							.brief-content
								p Spending 13 working years for OVC, I have joined many kinds of projects which are mainly  factories and companies … From September 2012 to December 2013, I have done the biggest project which is a very proud project. That is AEON Shopping Center Tan Phu Celadon project which is located at residential area of Tan Phu District. With a multifold workload in comparison with other projects and a short construction schedule, we met many difficulties and pressure. Besides that, some objective elements such as unfavorable weather condition and execution in residential area obstruct the basement excavation works. Although we had to face with arising difficulties, thanks to the whole-hearted support and direction from leadership team such as Mr. Yamanaka, Mr. Kurosawa, Mr. Sato … and the cooperation of all sections and engineers, the construction is completed on schedule. Moreover, Vietnamese staffs and I have got more experiences about new technical standards and new working style through this project. We are always determined to keep going ahead for best results. I greatly appreciate all your kind assistance.
			.col-sm-6.col-md-4.col-lg-3
	.container.pb-60
		h2.manager-title Ho Chi Minh Office
		.row
			.col-sm-6.col-md-4.col-lg-3
				article.manager-item
					.imgbox
						a(href="./img/manager/1.jpg" data-fancybox data-src="#manage_1" data-bg="./img/manager/1.jpg")
							img(src="./img/manager/1.jpg", alt="")
					.info
						p Deputy General Manager
						h3 Mr. Yuta Kamibeppu
					.d-none
						.member-popup#manage_1
							.imgbox
								img(src="./img/manager/1.jpg", alt="")
							.info
								p Deputy General Manager
								h3 Mr. Yuta Kamibeppu
							.brief-content
								p Spending 13 working years for OVC, I have joined many kinds of projects which are mainly  factories and companies … From September 2012 to December 2013, I have done the biggest project which is a very proud project. That is AEON Shopping Center Tan Phu Celadon project which is located at residential area of Tan Phu District. With a multifold workload in comparison with other projects and a short construction schedule, we met many difficulties and pressure. Besides that, some objective elements such as unfavorable weather condition and execution in residential area obstruct the basement excavation works. Although we had to face with arising difficulties, thanks to the whole-hearted support and direction from leadership team such as Mr. Yamanaka, Mr. Kurosawa, Mr. Sato … and the cooperation of all sections and engineers, the construction is completed on schedule. Moreover, Vietnamese staffs and I have got more experiences about new technical standards and new working style through this project. We are always determined to keep going ahead for best results. I greatly appreciate all your kind assistance.
			.col-sm-6.col-md-4.col-lg-3
				article.manager-item
					.imgbox
						a(href="./img/manager/1.jpg" data-fancybox data-src="#manage_1" data-bg="./img/manager/1.jpg")
							img(src="./img/manager/1.jpg", alt="")
					.info
						p Deputy General Manager
						h3 Mr. Yuta Kamibeppu
					.d-none
						.member-popup#manage_1
							.imgbox
								img(src="./img/manager/1.jpg", alt="")
							.info
								p Deputy General Manager
								h3 Mr. Yuta Kamibeppu
							.brief-content
								p Spending 13 working years for OVC, I have joined many kinds of projects which are mainly  factories and companies … From September 2012 to December 2013, I have done the biggest project which is a very proud project. That is AEON Shopping Center Tan Phu Celadon project which is located at residential area of Tan Phu District. With a multifold workload in comparison with other projects and a short construction schedule, we met many difficulties and pressure. Besides that, some objective elements such as unfavorable weather condition and execution in residential area obstruct the basement excavation works. Although we had to face with arising difficulties, thanks to the whole-hearted support and direction from leadership team such as Mr. Yamanaka, Mr. Kurosawa, Mr. Sato … and the cooperation of all sections and engineers, the construction is completed on schedule. Moreover, Vietnamese staffs and I have got more experiences about new technical standards and new working style through this project. We are always determined to keep going ahead for best results. I greatly appreciate all your kind assistance.
			.col-sm-6.col-md-4.col-lg-3
				article.manager-item
					.imgbox
						a(href="./img/manager/1.jpg" data-fancybox data-src="#manage_1" data-bg="./img/manager/1.jpg")
							img(src="./img/manager/1.jpg", alt="")
					.info
						p Deputy General Manager
						h3 Mr. Yuta Kamibeppu
					.d-none
						.member-popup#manage_1
							.imgbox
								img(src="./img/manager/1.jpg", alt="")
							.info
								p Deputy General Manager
								h3 Mr. Yuta Kamibeppu
							.brief-content
								p Spending 13 working years for OVC, I have joined many kinds of projects which are mainly  factories and companies … From September 2012 to December 2013, I have done the biggest project which is a very proud project. That is AEON Shopping Center Tan Phu Celadon project which is located at residential area of Tan Phu District. With a multifold workload in comparison with other projects and a short construction schedule, we met many difficulties and pressure. Besides that, some objective elements such as unfavorable weather condition and execution in residential area obstruct the basement excavation works. Although we had to face with arising difficulties, thanks to the whole-hearted support and direction from leadership team such as Mr. Yamanaka, Mr. Kurosawa, Mr. Sato … and the cooperation of all sections and engineers, the construction is completed on schedule. Moreover, Vietnamese staffs and I have got more experiences about new technical standards and new working style through this project. We are always determined to keep going ahead for best results. I greatly appreciate all your kind assistance.
			.col-sm-6.col-md-4.col-lg-3
				article.manager-item
					.imgbox
						a(href="./img/manager/1.jpg" data-fancybox data-src="#manage_1" data-bg="./img/manager/1.jpg")
							img(src="./img/manager/1.jpg", alt="")
					.info
						p Deputy General Manager
						h3 Mr. Yuta Kamibeppu
					.d-none
						.member-popup#manage_1
							.imgbox
								img(src="./img/manager/1.jpg", alt="")
							.info
								p Deputy General Manager
								h3 Mr. Yuta Kamibeppu
							.brief-content
								p Spending 13 working years for OVC, I have joined many kinds of projects which are mainly  factories and companies … From September 2012 to December 2013, I have done the biggest project which is a very proud project. That is AEON Shopping Center Tan Phu Celadon project which is located at residential area of Tan Phu District. With a multifold workload in comparison with other projects and a short construction schedule, we met many difficulties and pressure. Besides that, some objective elements such as unfavorable weather condition and execution in residential area obstruct the basement excavation works. Although we had to face with arising difficulties, thanks to the whole-hearted support and direction from leadership team such as Mr. Yamanaka, Mr. Kurosawa, Mr. Sato … and the cooperation of all sections and engineers, the construction is completed on schedule. Moreover, Vietnamese staffs and I have got more experiences about new technical standards and new working style through this project. We are always determined to keep going ahead for best results. I greatly appreciate all your kind assistance.