.history-1.pb-60
	.container
		.content-wrapper
			.row
				.col-lg-6
					.full-content
						p Centered around Obayashi Corporation, one of Japan's largest general contractors, the Obayashi Group comprises 86 subsidiaries and 26 affiliated companies with a total of 13,000 employees and combined annual net sales of approximately ¥1,400 billion. The Group's activities are primarily in the construction and real estate businesses, and Group companies engage in a wide range of activities related to these two main fields.
						p Obayashi Corporation was founded in 1892 in Osaka by Yoshigoro Obayashi. After completing construction projects for the Osaka Port and the Fifth National Industrial Exhibition, in 1914 Obayashi Corporation went on to build Tokyo Central Station (present-day Tokyo Station), which enabled the Company to demonstrate its technological capabilities on the national stage. When the Great Kanto Earthquake struck Tokyo in 1923, Tokyo Station remained unharmed, winning the Company the great confidence of customers.
				.col-lg-6
					.imgbox
						img(src="./img/history/1.png", alt="")
.history-2.pb-60
	.container
		.row.pb-60
			.col-sm-6
				.history-item
					.imgbox
						a(href="#" data-bg="./img/history/2.jpg")
							img(src="./img/history/2.jpg", alt="")
					.info
						h3 Kansai International Airport 
			.col-sm-6
				.history-item
					.imgbox
						a(href="#" data-bg="./img/history/2.jpg")
							img(src="./img/history/2.jpg", alt="")
					.info
						h3 Kansai International Airport 
		.row
			.col-lg-6
				.brief-content
					p In later years, Obayashi grew dramatically through work on projects ranging from the Tokyo Imperial Museum (the present-day Tokyo National Museum) to the reconstruction of Osaka Castle and the construction of Osaka's first subway, running from Yodoyabashi to Kitakyutaro-machi.
			.col-lg-6
				.full-content
					p Since celebrating its 100th anniversary in 1991, Obayashi has continued to participate in major projects. The Company played a part in infrastructure projects such as construction of Kansai International Airport and the Tokyo Bay Aqua-Line and major building construction projects such as Tokyo International Forum, Shinagawa InterCity, the Marunouchi Building, the Roppongi Hills Mori Tower, and the TOKYO SKYTREE®.
.history-3.pb-60
	.container
		.grid
			.grid-sizer
			.grid-item
				.history-item
					.imgbox
						a(href="#")
							img(src="./img/history/3.jpg", alt="")
					.info
						h3 Kansai International Airport 
			.grid-item
				.history-item
					.imgbox
						a(href="#")
							img(src="./img/history/4.jpg", alt="")
					.info
						h3 Kansai International Airport 
			.grid-item
				.history-item
					.imgbox
						a(href="#")
							img(src="./img/history/5.jpg", alt="")
					.info
						h3 Kansai International Airport 
			.grid-item
				.history-item
					.imgbox
						a(href="#")
							img(src="./img/history/3.jpg", alt="")
					.info
						h3 Kansai International Airport 
			.grid-item
				.history-item
					.imgbox
						a(href="#")
							img(src="./img/history/4.jpg", alt="")
					.info
						h3 Kansai International Airport 
			.grid-item
				.history-item
					.imgbox
						a(href="#")
							img(src="./img/history/5.jpg", alt="")
					.info
						h3 Kansai International Airport 
		.row.pt-60
			.col-lg-6
				.brief-content
					p Obayashi also has an established record outside of Japan, dating back to 1962 when the Company became the first Japanese general contractor to take on an overseas construction project. The Company later moved into the United States, and in 1979 became the first Japanese construction company to win an order from the San Francisco City Government to build a sewer system. In the 30 years since that project, Obayashi has continued its business activities in the United States, playing a role in many high-profile large-scale projects, from the seismic retrofit of the Golden Gate Bridge to the bypass bridge over the Colorado River, downstream from the Hoover Dam, icon of the New Deal.
			.col-lg-6
				.full-content
					p In addition to the United States, Obayashi has been involved in a number of global projects around the world, from the main stadium for the Sydney Olympics to Taiwan's high-speed railway and the urban rail system in Dubai — a truly global business.