.news
	.container
		.row
			.col-md-6
				.news-item
					time Jan, 17 2019
					span.type-1 Internal News
					.title
						h3
							a(href='#') The Ground Breaking Of VREC 2nd Phase Contruction Project

			.col-md-6
				.news-item
					time Jan, 17 2019
					span.type-1 Internal News
					.title
						h3
							a(href='#') The Ground Breaking Of VREC 2nd Phase Contruction Project

			.col-md-6
				.news-item
					time Jan, 17 2019
					span.type-1 Internal News
					.title
						h3
							a(href='#') The Ground Breaking Of VREC 2nd Phase Contruction Project

			.col-md-6
				.news-item
					time Jan, 17 2019
					span.type-1 Internal News
					.title
						h3
							a(href='#') The Ground Breaking Of VREC 2nd Phase Contruction Project
