.news
	padding: 30px 0
	.news-item
		margin-bottom: 16px
		time
			color: #999999
		span
			padding: 2px 4px
			flex: 0 0 90px
			max-width: 90px
			text-align: center
			font-size: 12px
			margin-left: 10px
			color: #fff
			border-radius: 4px
			&.type-1
				background: #3a71b1
			&.type-2
				background: #63acd1
			&.type-3
				background: #d88e00
			&.type-4
				background: #00933a
		h3
			font-size: 24px
			font-weight: 600
		&:hover
			h3
				color: #00933a