.container.pd-60
	.row.news-detail
		.col-lg-8
			.content
				time Jan, 17 2019
				span.type-1 Internal News
				h1.big-title Completion of Dan On Foods Corporation – My Phuoc 3 Branch – My Phuoc 3 Branch New Factory Project
				.full-content
				.social-share
					a(href="#")
						img(src="./img/fb.jpg", alt="")
					a(href="#")
						img(src="./img/twt.jpg", alt="")
					a(href="#")
						img(src="./img/pin.jpg", alt="")
					a(href="#")
						img(src="./img/mail.jpg", alt="")
		.col-lg
		.col-lg-3
			.other-news
				h2.big-title Latest news
				.item
					time Jan, 04 2019
					h3
						a(href="#") Voices From Project Staffs
				.item
					time Jan, 04 2019
					h3
						a(href="#") Voices From Project Staffs
				.item
					time Jan, 04 2019
					h3
						a(href="#") Voices From Project Staffs