.nav-1.pd-60
	.container
		.row
			.col-lg-6
				h2.small-title Our Award
				p.big-title Certificates
			.col-lg-6
				nav.row.no-gutters
					a(href="/") overview
					a(href="#") overview
					a(href="#") overview
					a.active(href="#") overview
					a(href="#") overview
					a(href="#") overview
				select(data-nav)
					option(value="/") overview
					option(value="#") overview
					option(value="#") overview
					option(value="#" selected) overview
					option(value="#") overview
					option(value="#") overview
			.col-12.pt-60
				.imgbox
					img(src="./img/information/1.jpg", alt="")