section.home-banner
	.swiper-container
		.swiper-wrapper
			.swiper-slide.video-slide
				.video
					video(autoplay muted)
						source(src="./video/BannerClip.mp4")
				.text
					p Connecting Our Heart Together
			.swiper-slide
				.img
					img(src="./img/banner/1.jpg", alt="")
				.text
					p “Our motto is To provide comprehensive satisfaction for the customers by ensuring quality, schedule, and safety in products and services”
			.swiper-slide
				.img
					img(src="./img/banner/2.jpg", alt="")
				.text
					p We offer solutions to environmental and social challenges and actively engage in social contribution activities to help build a sustainable world
			.swiper-slide
				.img
					img(src="./img/banner/3.jpg", alt="")
				.text
					p We are proactive in our quest for constant improvement and innovation
			.swiper-slide
				.img
					img(src="./img/banner/4.jpg", alt="")
				.text
					p We think creatively and act quickly
			.swiper-slide
				.img
					img(src="./img/banner/5.jpg", alt="")
				.text
					p We combine our individual strengths to maximize our impact as a team
			.swiper-slide
				.img
					img(src="./img/banner/6.jpg", alt="")
				.text
					p To work hard to maintain our reputation as a trustworthy company 
		.scroll-down
			span.lnr.lnr-chevron-down
			span Scroll
		.swiper-pagination
		.swiper-navigation
			.swiper-prev-button
				span.lnr.lnr-chevron-left
			.swiper-next-button
				span.lnr.lnr-chevron-right